{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Eventos</h5>
                    <p class="card-text display-4">{{ total_eventos }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Eventos Activos</h5>
                    <p class="card-text display-4">{{ active_eventos }}</p>
                </div>
            </div>
        </div>
     
{% endblock %}